extends layout

block content
  h1= title
  
  ul
    each city in city_list
      li 
        a(href=city.url) #{city.name} 
        |  Population (#{city.population})

    else
      li There are no cities.
    
    hr

    h3 Filters
        form.sort(method='GET' action='')
          label
            select#cityname.form-control(type='select'  name='cityname' required='true')
              option(value='name') Name
              option(value='asc') ASC
              option(value='desc') DESC
          label
            select#population.form-control(type='select'  name='population' required='true')
              option(value='population') Population
              option(value='asc') ASC
              option(value='desc') DESC

          button.btn.btn-primary(type='submit') Sort